<h1>Отредактируйте {{product.title}}</h1>
<a href="/">Начальная страница</a>
{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}
<form action="/products/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{product.title}}">
        <label for="title">Название продукта</label>
        <span class="helper-text" data-error="Введите название" ></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{product.price}}">
        <label for="price">Стоимость продукта</label>
        <span class="helper-text" data-error="Введите стоимость"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{product.img}}">
        <label for="img">URL картинки</label>
        <span class="helper-text" data-error="Введите URL"></span>
    </div>
    <input type="hidden" name="id" value="{{product._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Редактировать продукт</button>
</form>
<form action="/products/remove" method="post" class="product-form">
    <input type="hidden" name="id" value="{{product._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Удалить продукт</button>
</form>