<div class="entry">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a class="active" href="#login">Войти</a></li>
                <li class="tab col s6"><a  href="#registration">Регистрация</a></li>
            </ul>
        </div>
        <div id="login" class="col s6 offset-s3">
            <h3>Войти в магазин</h3>
            <form action="/entry/login" method="post">
                <div class="input-field">
                    {{#if loginEmailError}}<input id="email" name="email" type="email" class="validate invalid" value="{{email}}" required>
                    {{else}}<input id="email" name="email" type="email" class="validate" value="{{email}}" required>{{/if}}
                    <label for="email">Email</label>
                    {{#if loginEmailError}}<span class="helper-text" data-error="{{loginEmailError}}"></span>
                    {{else}}<span class="helper-text" data-error="email"></span>{{/if}}
                </div>
                <div class="input-field">
                    {{#if loginPasswordError}}<input id="password" name="password" type="password" class="validate invalid" required>
                    {{else}}<input id="password" name="password" type="password" class="validate" required>{{/if}}
                    <label for="password">Пароль</label>
                    {{#if loginPasswordError}}<span class="helper-text" data-error="Не верный пароль"></span>
                    {{else}}<span class="helper-text" data-error="password"></span>{{/if}}
                </div>
                {{#if loginPasswordError}}
                    <p><a href="/entry/reset">Сбросить пароль</a></p>
                {{/if}}
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn btn-primary" type="submit">Войти</button>
            </form>
        </div>
        <div id="registration" class="col s6 offset-s3">
            <h3>Зарегистрироваться</h3>
            <form action="/entry/registration" method="post">
                <div class="input-field">
                    <input id="reg-name" name="name" type="text" value="{{name}}" required>
                    <label for="reg-name">Имя</label>
                </div>
                <div class="input-field">
                    {{#if registerEmailError}}<input id="reg-email" name="email" type="email" class="validate invalid" value="{{email}}" required>
                    {{else}}<input id="reg-email" name="email" type="email" class="validate" value="{{email}}" required>{{/if}}
                    <label for="reg-email">Email</label>
                    {{#if registerEmailError}}<span class="helper-text" data-error="{{registerEmailError}}"></span>
                    {{else}}<span class="helper-text" data-error="Email"></span>{{/if}}
                </div>
                <div class="input-field">
                    <input id="reg-password" name="password" type="password" class="validate" required>
                    <label for="reg-password">Пароль</label>
                    <span class="helper-text" data-error="password"></span>
                </div>
                <div class="input-field">
                    {{#if registerPasswordError}}<input id="confirm" name="confirm" type="password" class="validate invalid" required>
                    {{else}}<input id="confirm" name="confirm" type="password" class="validate" required>{{/if}}
                    <label for="confirm">Пароль еще раз</label>
                    {{#if registerPasswordError}}<span class="helper-text" data-error="{{registerPasswordError}}"></span>
                    {{else}}<span class="helper-text" data-error="password"></span>{{/if}}
                </div>
                <input type="hidden" name="_csrf" value="{{csrf}}">
                <button class="btn btn-primary"type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>