<div class="row">
    <div class="col s6 offset-s3">
        {{#if error}}
            <p class="alert">{{error}}</p>
        {{/if}}
        <h3>Задать новый пароль</h3>
        <form action="/entry/password" method="post">
            <div class="input-field">
                <div class="input-field">
                    <input id="reg-password" name="password" type="password" class="validate" required>
                    <label for="reg-password">Новый пароль</label>
                    <span class="helper-text" data-error="password"></span>
                </div>
                <div class="input-field">
                    {{#if registerPasswordError}}<input id="confirm" name="confirm" type="password" class="validate invalid" required>
                    {{else}}<input id="confirm" name="confirm" type="password" class="validate" required>{{/if}}
                    <label for="confirm">Пароль еще раз</label>
                    {{#if registerPasswordError}}<span class="helper-text" data-error="Пароль не повторился"></span>
                    {{else}}<span class="helper-text" data-error="password"></span>{{/if}}
                </div>
            </div>
            <input type="hidden" name="_csrf"  value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidden" name="token"  value="{{token}}">
            <button class="btn btn-primary"type="submit">Сменить пароль</button>
        </form>
    </div>
</div>